@import "tailwindcss";

@theme {
  --color-brand-green: #105B48;
  --color-brand-light: #ffffff;

  --font-euclid: "Euclid Circular B", sans-serif;
}

@layer base {
  :root, body {
    font-family: var(--font-euclid);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: inherit;
  }
}